.row_raj {
	display: flex;
	background-color: brown;
	border-radius: 5%
}

.row_goa {
	display: flex;
	background-color: blue;
	border-radius: 5%
}

.row{
	border-radius: 5%;
}

.column {
  /*flex: 33.33%;*/
  padding: 2px;
  float: left;
}

img {
	text-align: center;
	width: 100%;
	height: 100%;
	padding: 10px;
}

/* The Modal (background)---------- MODAL STYLESHEET --------------------- */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}

/* .close_cursor? */
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.cursor {
	cursor: pointer;
}

.mySlides {
	display: none;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/*.next {
	right:0;border-radius: 3px 0 0 3px;
}*/

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
/* ---------------------- MODAL STYLESHEET ------------------------- */

.shadow_effect{
	font-size: 24px;
	font-weight:bold;
	text-shadow: 2px 5px 5px red;

}

a{
	padding: 10px;
}

.pics{
	border-radius: 10px;
}
.appearance{
		border-radius: 10px;
		/*width:100;
		height:100;*/
}
img:hover {
	/*transform: scale(1.1);*/
	
}

#reservation form{
	font-size: 25px;
	outline: none;
	font-weight: 600;
	color:black;/* #8D8E8F;*/
	padding: 12px 12px;
	width: 70%;
	border: none; 
	border-radius: 5%;
	margin: 10px 5%;
}

#contact, #reservation, #videos, #footer{
	border: none;
	background-color: lightgray;
	box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.3);
	border-radius: 5%;
	padding: 15px;
}

.submit input[type=submit] {
	width: 5cm;
	height: 30px;
	color: rgba(225,225,225);
	cursor: pointer;
	border: none;
	font-weight: 900;
	margin: 0px 3%;
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
	padding: 7px 0px;
	transition: border-color 0.3s color 0.3s background-color 0.3s;
	background-color: #797a7b;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.5);
}

.submit input[type="submit"]:hover{
	color: #000;
	background-color: #8d6e0f;
	box-shadow: inset 1px 2px 15px 0 rgba(0,0,0,0,5);
}


/*#footer{	
	background-color: rgba(100,65,0,0.3);
	color: #000;
	text-shadow: 2px 2px 0px 0 (0,0,0,0.4);
	padding: 20px 50px 20px 50px;
	text-align: right;
}*/

p {
    font-family: sans-serif;
	font-size: 20px;
	line-height: 25px;
}

